{% extends 'task/base.html' %}

{% block content %}
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        {% if cat_selected == 0 %}
        <li class="selected">All tasks</li>
        {% else %}
        <li><a href="{% url 'index' %}">All tasks</a></li>
        {% endif %}

        {% for c in stats %}
        {% if c.pk == cat_selected %}
        <li class="selected">{{ c.name }}</li>
        {% else %}
        <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
        {% endif %}
        {% endfor %}
    </header>
</div>


<div class="container py-5">
    <div class="row row-cols-3 g-4">
        {% for t in tasks %}
        <div class="col">
            <div class="card">
                {% if t.status.name == 'Low' %}
                <div class="card-body bg-lows">
                    <h5 class="card-title">{{ t.title }}</h5>
                    <p class="card-text">{{ t.user }}</p>
                    <p class="card-text">{{ t.description }}</p>
                    <p class="card-text">Рівень важливості: {{ t.status }}</p>
                    <p class="card-text">Статус: {{ t.process }}</p>
                    {% if not t.process == 'in_progress'%}
                    <p class="card-text">Причина відмови: {{ t.reason }}</p>
                    {%endif%}
                    <a href="{% url 'task' t.pk %}" class="btn btn-primary">Повна інформація</a>
                </div>
                {% elif t.status.name == 'Medium' %}
                <div class="card-body bg-mediums">
                    <h5 class="card-title">{{ t.title }}</h5>
                    <p class="card-text">{{ t.user }}</p>
                    <p class="card-text">{{ t.description }}</p>
                    <p class="card-text">Рівень важливості: {{ t.status }}</p>
                    <p class="card-text">Статус: {{ t.process }}</p>
                    {% if not t.process == 'in_progress'%}
                    <p class="card-text">Причина відмови: {{ t.reason }}</p>
                    {%endif%}
                    <a href="{% url 'task' t.pk %}" class="btn btn-primary">Повна інформація</a>
                </div>
                {% elif t.status.name == 'High' %}
                <div class="card-body bg-highs">
                    <h5 class="card-title">{{ t.title }}</h5>
                    <p class="card-text">{{ t.user }}</p>
                    <p class="card-text">{{ t.description }}</p>
                    <p class="card-text">Рівень важливості: {{ t.status }}</p>
                    <p class="card-text">Статус: {{ t.process }}</p>
                    {% if not t.process == 'in_progress'%}
                    <p class="card-text">Причина відмови: {{ t.reason }}</p>
                    {%endif%}
                    <a href="{% url 'task' t.pk %}" class="btn btn-primary">Повна інформація</a>
                </div>
                {% else %}
                <div class="card-body">
                    <h5 class="card-title">{{ t.title }}</h5>
                    <p class="card-text">{{ t.user }}</p>
                    <p class="card-text">{{ t.description }}</p>
                    <p class="card-text">Рівень важливості: {{ t.status }}</p>
                    <p class="card-text">Статус: {{ t.process }}</p>
                    <p class="card-text">Причина відмови: {{ t.reason }}</p>
                    <a href="{% url 'task' t.pk %}" class="btn btn-primary">Повна інформація</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% empty %}
        <p> No tasks there. </p>
        {% endfor %}
    </div>
</div>


{% endblock %}