{% extends 'task/base.html' %}

{% block content %}

<div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            </div>
            <h3 class="fs-2">{{ task.title }}</h3>
            <p><b>Автор:</b> {{ task.user }}</p>
            <p><b>Опис:</b> {{ task.description }}</p>
            <p><b>Створено:</b> {{ task.time_created|date:"d-m-Y H:i:s"}}</p>
            <p><b>Рівень важливості:</b> {{ task.status }}</p>
            <p><b>Статус:</b> {{ task.process }}</p>
            {% if task.reason %}
                <p><b>Причина відхилення:</b> {{ task.reason }}</p>
            {% endif %}
            {% if user.is_authenticated and user == task.user %}
                {% if task.process == 'in_progress' %}
                    <a href="{% url 'add_comment' task_id=task.id %}" class="btn btn-info">Додати коментар</a>
                {% endif %}
            <a href="{% url 'edit_task' task_id=task.id %}" class="btn btn-info">Редагувати</a>
            {% else %}
            <h2>Для перегляду коментарів, увійдіть</h2>
            {% endif %}
            <br>
            <br>
            {% if user.is_staff %}
            <a href="{% url 'task_accept' task_id=task.id %}" class="btn btn-success">Прийняти</a>
            <a href="{% url 'task_reject' task_id=task.id %}" class="btn btn-danger">Відхилити</a>
            {% endif %}
            <br>
            <br>
            {% if restore_button %}
            <form method="post" action="{% url 'task_restore' task_id=task.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning">Відновити</button>
            </form>

            {% endif %}
            <br>
            <h2>Коментарі</h2>
            {% for comment in task.comments.all %}
            <div class="comment">
                <strong>{{ comment.author }}:</strong> |
                {{ comment.text }} |
                <small>{{ comment.created|date:"Y-m-d H:i:s" }}</small>
            </div>
            {% empty %}
            <p>Ще немає нічого</p>
            {% endfor %}
            <br>
            <a href="/" class="btn btn-primary">
                На головну
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </a>
        </div>
    </div>
</div>

{% endblock %}
